* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

@import "~bootstrap/scss/bootstrap";

// .pagination {
//   .page-item {
//     &:not(:last-child) {
//       margin-right: 5px;
//       border-radius: 4px;
//     }
//   }
//   .page-link {
//     border: 1px solid #f6f6f6;
//     border-radius: 4px;
//     padding: 0.5rem 1rem;
//     color: $secondary;
//   }
//   @media (max-width: 768px) {
//     .page-link {
//       padding: 0.2rem 0.6rem;
//     }
//   }
//   .active {
//     .page-link {
//       background-color: $white !important;
//       border-color: $primary;
//       color: #000;
//     }
//   }
// }
